<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>895 South Arapaho Court, Brigham City, UT</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "4322386131" %></p>

    <h3>Email</h3>

    <p><a href="mailto:jordan@devcamp.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2988.5782422279194!2d-112.010236684294!3d41.49174247925468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87537a8e92402bed%3A0x3fb00b4de1ac9421!2s895+S+Arapaho+Ct%2C+Brigham+City%2C+UT+84302!5e0!3m2!1sen!2sus!4v1517597597606" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>