<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">“Greatness exists in all of us. “ – Will Smith</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>